<p style="color: green"><%= notice %></p>

<%= render @comment %>

<div>
  <% if @comment.user == current_user %>
    <%= link_to "Edit this comment", edit_comment_path(@comment) %> |
  <% end %>
  <%= link_to "Back to comments", comments_path %>

  <% if @comment.user == current_user %>
    <%= button_to "Destroy this comment", @comment, method: :delete %>
  <% end %>
</div>
